body{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    backeground-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    background: linear- linear-gradient(to right, skyblue, white);
    background-repeat;no-repeat;
    background-attachment: fixed;

}
p{
    background: linear-gradient(to right,skyblue,white);
    background-repeat;no-repeat;
    background-attachment: fixed;
}